@{
    ViewData["Title"] = "Professional";
}

        
    <div class="container-fluid text-center">
        @* Title *@
        <div class="container">
            <h1>Resumé</h1>
        </div>
        @* Languages *@
        <div class="row justify-content-center">
            <h6>Languages with Professional Experience:</h6>
            <ul class="list-inline">
                <li class="list-inline-item"></li>
                <li class="list-inline-item">XML</li>
                <li class="list-inline-item">.NET</li>
                <li class="list-inline-item">SQL</li>
                <li class="list-inline-item">C#</li>
            </ul>
        </div>
        <div class="container-fluid text-center">
            <div class="row justify-content-center">
                <h6>Languages with Personal Experience:</h6>
                <ul class="list-inline">
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item">Java</li>
                    <li class="list-inline-item">HTML</li>
                    <li class="list-inline-item">CSS</li>
                    <li class="list-inline-item">Bootstrap</li>
                    <li class="list-inline-item">Entity Framework Core</li>
                    <li class="list-inline-item">MVC</li>
                    <li class="list-inline-item">Powershell</li>
                </ul>
            </div>
        </div>
    </div>
            @* Cards *@
<div class="card-deck">
    @* Education *@
    <div class="card text-white bg-secondary w-25">
        <div class="card-header text-center"><h4>Education</h4></div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>
                    <a href="www.uis.edu"><h4><u>University of Illinois at Springfield</u></h4></a>
                    <ul>
                        <li> Masters of Computer Science</li>
                        <li> Graduated May of 2019</li>
                    </ul>
                </li>
                <li>
                    <a href="www.gatech.edu"><h4><u>Georgia Tech</u></h4></a>
                    <ul>
                        <li> Bachelor of Science In Chemistry</li>
                        <li> Graduated August of 2015</li>
                    </ul>

                </li>
            </ul>

        </div>
    </div>
    @* Experience *@
    <div class="card text-white bg-secondary w-25">
        <div class="card-header text-center"><h4>Professional Experience</h4></div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>
                    <a href="https://www1.appliedsystems.com/en-us/"><h4><u>Applied Systems</u></h4></a>
                    <ul>
                        <li> Full stack developer</li>
                        <li> Part of an Agile team that works to complete feature work, defects and tech debt</li>
                        <li> Help create and expand on company APIs</li>
                        <li> Corrected client reported defects that were causing major issues in live environments</li>
                        <li> Fixed data related issues on live databases</li>
                        <li> Started at Applied Systems in May of 2018</li>
                    </ul>
                </li>
                <li>
                    <a href="https://www.jostchemical.com/"><h4><u>Jost Chemical Company</u></h4></a>
                    <ul>
                        <li> Tested finished goods for pharmaceutical and FDA specifications</li>
                        <li> Led off shift group of chemists</li>
                        <li> Maintained workflow between in-process testing and finished good testing in fast paced environment</li>
                        <li> Worked at Jost from March 2016 - August 2017</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    @* Projects *@
    <div class="card text-white bg-secondary w-25">
        <div class="card-header text-center"><h4>Projects</h4></div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>
                    <a href="https://github.com/mfeldt3/Website"><h4><u>Personal Website</u></h4></a>
                    <ul>
                        <li> This website</li>
                        <li> HTML, CSS, and Bootstrap front end</li>
                        <li> MVC backend using database components</li>
                        <li> Entity Framework Core used for image holding for various national parks</li>
                    </ul>
                </li>
                <li>
                    <a href="https://github.com/mfeldt3/CatchCalculator"><h4><u>Catch Calculator</u></h4></a>
                    <ul>
                        <li> Android application</li>
                        <li> Built using android studio, XML, and Java</li>
                        <li> Calculates how many pokemon are needed to catch before the pokemon can be evolved</li>
                        <li> Takes in options for berries and transfers</li>
                    </ul>
                </li>
                <li>
                    <a href="https://github.com/mfeldt3/WeatherData"><h4><u>Blue Water Outlook Data Fetch</u></h4></a>
                    <ul>
                        <li> Use National Weather Service Database APIs to gather information for Blue Water Outlook</li>
                        <li> Gather relative humidity, daily High Temperature, etc</li>
                        <li> Format results into custom excel document</li>
                        <li> Written in Powershell</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
