@{
    ViewData["Title"] = "Professional";
}

        
    <div class="container-fluid text-center">
        @* Title *@
        <div class="container">
            <h1>Resumé</h1>
        </div>
        @* Languages *@
        <div class="row justify-content-center">
            <h6>Languages with Professional Experience:</h6>
            <ul class="list-inline">
                <li class="list-inline-item"></li>
                <li class="list-inline-item">XML</li>
                <li class="list-inline-item">.NET</li>
                <li class="list-inline-item">SQL</li>
                <li class="list-inline-item">C#</li>
            </ul>
        </div>
        <div class="container-fluid text-center">
            <div class="row justify-content-center">
                <h6>Languages with Personal Experience:</h6>
                <ul class="list-inline">
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item">Java</li>
                    <li class="list-inline-item">HTML</li>
                    <li class="list-inline-item">CSS</li>
                    <li class="list-inline-item">MVC</li>
                    <li class="list-inline-item">Powershell</li>
                    <li class="list-inline-item">Javascript</li>
                </ul>
            </div>
        </div>
    </div>
            @* Cards *@
<div class="card-deck">
    @* Education *@
    <div class="card text-white bg-secondary w-25">
        <div class="card-header text-center"><h4>Education</h4></div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>
                    <h4>University of Illinois at Springfield</h4>
                    <ul>
                        <li> Masters of Computer Science</li>
                        <li> Graduated May of 2019</li>
                    </ul>
                </li>
                <li>
                    <h4>Georgia Tech</h4>
                    <ul>
                        <li> Bachelor of Science In Chemistry</li>
                        <li> Graduated August of 2015</li>
                    </ul>

                </li>
                <li>
                    <h4>Starr's Mill High School</h4>
                    <ul>
                        <li> Graduated May of 2011</li>
                        <li> National Honors Society</li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    @* Experience *@
    <div class="card text-white bg-secondary w-25">
        <div class="card-header text-center"><h4>Professional Experience</h4></div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>
                    <h4>Applied Systems</h4>
                    <ul>
                        <li> Full stack developer</li>
                        <li> Part of an Agile team that works to complete feature work, defects and tech debt</li>
                        <li> Help create and expand on company APIs</li>
                        <li> Corrected client reported defects that were causing major issues in live environments</li>
                        <li> Fixed data related issues on live databases</li>
                        <li> Started at Applied Systems in May of 2018</li>
                    </ul>
                </li>
                <li>
                    <h4>Jost Chemical Company</h4>
                    <ul>
                        <li> Tested finished goods for pharmaceutical and FDA specifications</li>
                        <li> Led off shift group of chemists</li>
                        <li> Maintained workflow between in-process testing and finished good testing in fast paced environment</li>
                        <li> Worked at Jost from March 2016 - August 2017</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    @* Projects *@
    <div class="card text-white bg-secondary w-25">
        <div class="card-header text-center"><h4>Projects</h4></div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>
                    <h4>Personal Website</h4>
                    <ul>
                        <li> This website</li>
                        <li> HTML, CSS, and Bootstrap front end</li>
                        <li> MVC backend using database components</li>
                        <li> Database used for image holding for various national parks</li>
                    </ul>
                </li>
                <li>
                    <h4>Catch Calculator</h4>
                    <ul>
                        <li> Android application</li>
                        <li> Built using android studio, XML, and Java</li>
                        <li> Calculates how many pokemon are needed to catch before the pokemon can be evolved</li>
                        <li> Takes in options for berries and transfers</li>
                    </ul>
                </li>
                <li>
                    <h4>Blue Water Outlook Data Fetch</h4>
                    <ul>
                        <li> Use National Weather Service Database APIs to gather information for Blue Water Outlook</li>
                        <li> Gather relative humidity, daily High Temperature, etc</li>
                        <li> Format results into custom excel document</li>
                        <li> Written in Powershell</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
