@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="spacer"></div>
    <h1 class="display-4">Michael Feldt</h1>
    <div class="card-body">
        <ul class="list-unstyled">
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Personal" asp-action="Personal">Personal</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Professional" asp-action="Professional">Professional</a>
            </li>
        </ul>
    </div>
</div>
